@font-face {
  font-family: "iconfont"; /* Project id 4886971 */
  src: url('iconfont.eot?t=1744203299253'); /* IE9 */
  src: url('iconfont.eot?t=1744203299253#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1744203299253') format('woff2'),
       url('iconfont.woff?t=1744203299253') format('woff'),
       url('iconfont.ttf?t=1744203299253') format('truetype'),
       url('iconfont.svg?t=1744203299253#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-haitunyouxi:before {
  content: "\e614";
}

